"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    telemetryConsent: "no"
  editor:
    tabType: "soft"
  welcome:
    showOnStartup: false
