<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Favorites Root</key>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>2333334936908963715</integer>
				<key>name</key>
				<string>127.0.0.1</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string>w131246_harks</string>
				<key>host</key>
				<string>127.0.0.1</string>
				<key>id</key>
				<integer>-6923010371345795959</integer>
				<key>name</key>
				<string>Dommel Hosting</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>web5.dommelhosting.nl</string>
				<key>sshKeyLocation</key>
				<string>~/.ssh/dommelhosting</string>
				<key>sshKeyLocationEnabled</key>
				<integer>1</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>w131246</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>w131246_harks</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>188.226.222.223</string>
				<key>id</key>
				<integer>-2188845550590952816</integer>
				<key>name</key>
				<string>Forge</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>188.226.222.223</string>
				<key>sshKeyLocation</key>
				<string>~/.ssh/merciful-autumn</string>
				<key>sshKeyLocationEnabled</key>
				<integer>1</integer>
				<key>sshPort</key>
				<string>22</string>
				<key>sshUser</key>
				<string>forge</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>forge</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>188.226.217.121</string>
				<key>id</key>
				<integer>-3160869960173574778</integer>
				<key>name</key>
				<string>Forge 2</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>188.226.217.121</string>
				<key>sshKeyLocation</key>
				<string>~/.ssh/aged-galaxy</string>
				<key>sshKeyLocationEnabled</key>
				<integer>1</integer>
				<key>sshPort</key>
				<string>22</string>
				<key>sshUser</key>
				<string>forge</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>forge</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>-1</integer>
				<key>database</key>
				<string></string>
				<key>host</key>
				<string>188.166.27.129</string>
				<key>id</key>
				<integer>-2222736480434666618</integer>
				<key>name</key>
				<string>Nutsweb</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>188.166.27.129</string>
				<key>sshKeyLocation</key>
				<string>~/.ssh/nutsweb</string>
				<key>sshKeyLocationEnabled</key>
				<integer>1</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>jeroennoten</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
		</array>
		<key>IsExpanded</key>
		<true/>
		<key>Name</key>
		<string>FAVORITES</string>
	</dict>
</dict>
</plist>
